@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Medicine is the science and practice of establishing the diagnosis, prognosis, treatment, and prevention of disease.</p>
<br />
<h5>this site used to social medical society and to search for disease and get solution for pationt</h5>
